<h2><%= @list.name %> create bookmark</h2>
<%= simple_form_for [@list, @bookmark ] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie, input_html: {data: {controller: "tom-select"}} %>
    <%= f.submit "Submit review" %>

<% end %>